.stock-status {
    margin: 20px 0;
}
.stock-status .text {}
.stock-status .status {
    color: #40b833;
    font-weight: 700;
}
.stock-status.status-id-5 .status {
    color: #632121;
}
.stock-status.status-id-6 .status,
.stock-status.status-id-10 .status {
    color: #cf9700;
}