# 1.To use URL Alias you need to be running apache with mod_rewrite enabled.

# 2. In your opencart directory rename htaccess.txt to .htaccess.

# For any support issues please visit: http://www.opencart.com

# Options +SymLinksIfOwnerMatch
# Options +FollowSymlinks

#Redirects
Redirect 301 /en/umovi-nadannya-garantії-na-rukzaki-ta-sumki-tm /en/umovi-nadannya-garantii-na-rukzaki-ta-sumki-tm?
Redirect 301 /ru/umovi-nadannya-garantії-na-rukzaki-ta-sumki-tm /ru/umovi-nadannya-garantii-na-rukzaki-ta-sumki-tm?
Redirect 301 /umovi-nadannya-garantії-na-rukzaki-ta-sumki-tm /umovi-nadannya-garantii-na-rukzaki-ta-sumki-tm?

Redirect 301 /en/umovi-nadannya-garantii-na-rukzaki-ta-sumki-tm /en/garantiya?
Redirect 301 /ru/umovi-nadannya-garantii-na-rukzaki-ta-sumki-tm /ru/garantiya?
Redirect 301 /umovi-nadannya-garantii-na-rukzaki-ta-sumki-tm /garantiya?

Redirect 301 /en/pravila-ekspluatacії-rukzakіv-ta-sumok-tm-yes /en/garantiya?
Redirect 301 /ru/pravila-ekspluatacії-rukzakіv-ta-sumok-tm-yes /ru/garantiya?
Redirect 301 /pravila-ekspluatacії-rukzakіv-ta-sumok-tm-yes /garantiya?

Redirect 301 /en/kak-vybrat-butylku-dlya-vody /en/accessories/plyashki-ta-lanchbokci/plyashki?
Redirect 301 /ru/kak-vybrat-butylku-dlya-vody /ru/accessories/plyashki-ta-lanchbokci/plyashki?
Redirect 301 /kak-vybrat-butylku-dlya-vody /accessories/plyashki-ta-lanchbokci/plyashki?

Redirect 301 /en/spisok-kancelyarii-v-shkolu-—-must-have-dlya-sovremennyh-shkolnikov /en/spisok-kancelyarii-v-shkolu?
Redirect 301 /ru/spisok-kancelyarii-v-shkolu-—-must-have-dlya-sovremennyh-shkolnikov /ru/spisok-kancelyarii-v-shkolu?
Redirect 301 /spisok-kancelyarii-v-shkolu-—-must-have-dlya-sovremennyh-shkolnikov /spisok-kancelyarii-v-shkolu?

Redirect 301 /en/pravila-bezopasnosti-dlya-detej /en/pravila-bezopasnosti-dlya-detey?
Redirect 301 /ru/pravila-bezopasnosti-dlya-detej /ru/pravila-bezopasnosti-dlya-detey?
Redirect 301 /pravila-bezopasnosti-dlya-detej /pravila-bezopasnosti-dlya-detey?

Redirect 301 /instagram http://promocode.yes-tm.com/instagram
# Prevent Directoy listing
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "(?i)((\.tpl|\.ini|\.log|(?<!robots)\.txt))">
 Require all denied
## For apache 2.2 and older, replace "Require all denied" with these two lines :
# Order deny,allow
# Deny from all
</FilesMatch>

# SEO URL Settings
RewriteEngine On

# If your opencart installation does not run on the main web folder make sure you folder it does run in ie. / becomes /shop/   /var/www/top/data/www/
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteEngine On
RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

RewriteBase /
RewriteCond %{QUERY_STRING} ^(.*)&?page=1([^\d]*)$
RewriteRule ^/?(.*)$ /$1?%1%2 [R=301,L]
RewriteRule ^system/download/(.*) index.php?route=error/not_found [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]


## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On

ExpiresDefault "access plus 1 days"

# Declare fonts content-type
AddType application/vnd.ms-fontobject .eot
AddType application/x-font-ttf .ttf
AddType application/x-font-opentype .otf
AddType application/x-font-woff .woff
AddType application/x-font-woff2 .woff2
AddType image/svg+xml .svg

ExpiresByType image/x-icon "access plus 1 years"
ExpiresByType image/jpeg "access plus 180 days"
ExpiresByType image/jpg "access plus 180 days"
ExpiresByType image/png "access plus 180 days"
ExpiresByType image/gif "access plus 180 days"
ExpiresByType image/webp "access plus 180 days"
ExpiresByType image/svg+xml "access plus 180 days"
ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"

ExpiresByType text/css "access plus 1 years"
ExpiresByType text/javascript "access plus 1 years"
ExpiresByType application/javascript "access plus 1 years"
ExpiresByType application/x-javascript "access plus 1 years"

ExpiresByType text/html "access plus 43200 seconds"

ExpiresByType application/xhtml+xml "access plus 600 seconds"

ExpiresByType application/vnd.ms-fontobject "access plus 1 years"
ExpiresByType application/x-font-opentype "access plus 1 years"
ExpiresByType application/x-font-woff2 "access plus 1 years"
ExpiresByType application/x-font-woff "access plus 1 years"
ExpiresByType application/x-font-ttf "access plus 1 years"
ExpiresByType application/svg+xml "access plus 1 years"

    <IfModule mod_headers.c>
        Header append Cache-Control "public"
    </IfModule>

</IfModule>
## EXPIRES CACHING ##


<IfModule mod_mime.c>
AddType application/x-javascript .js
AddType text/css .css
</IfModule>

<IfModule mod_deflate.c>
  # Compress HTML, CSS, JavaScript, Text, XML and fonts
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>

<ifModule mod_gzip.c>
mod_gzip_on Yes
mod_gzip_dechunk Yes
mod_gzip_item_include file \.(html?|txt|css|js|php|pl)$
mod_gzip_item_include mime ^application/x-javascript.*
mod_gzip_item_include mime ^text/.*
mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
mod_gzip_item_exclude mime ^image/.*
mod_gzip_item_include handler ^cgi-script$
</ifModule>


<IfModule mod_headers.c>
    # Serve gzip compressed CSS files if they exist
    # and the client accepts gzip.
    RewriteCond "%{HTTP:Accept-encoding}" "gzip"
    RewriteCond "%{REQUEST_FILENAME}\.gz" -s
    RewriteRule "^(.*)\.css" "$1\.css\.gz" [QSA]

    # Serve gzip compressed JS files if they exist
    # and the client accepts gzip.
    RewriteCond "%{HTTP:Accept-encoding}" "gzip"
    RewriteCond "%{REQUEST_FILENAME}\.gz" -s
    RewriteRule "^(.*)\.js" "$1\.js\.gz" [QSA]


    # Serve correct content types, and prevent mod_deflate double gzip.
    RewriteRule "\.css\.gz$" "-" [T=text/css,E=no-gzip:1]
    RewriteRule "\.js\.gz$" "-" [T=text/javascript,E=no-gzip:1]


    <FilesMatch "(\.js\.gz|\.css\.gz\.ttf)$">
      # Serve correct encoding type.
      Header append Content-Encoding gzip

      # Force proxies to cache gzipped &
      # non-gzipped css/js files separately.
      Header append Vary Accept-Encoding
    </FilesMatch>
</IfModule>

### Additional Settings that may need to be enabled for some servers
### Uncomment the commands by removing the # sign in front of it.
### If you get an "Internal Server Error 500" after enabling any of the following settings, restore the # as this means your host doesn't allow that.

# 1. If your cart only allows you to add one item at a time, it is possible register_globals is on. This may work to disable it:
# php_flag register_globals off

# 2. If your cart has magic quotes enabled, This may work to disable it:
# php_flag magic_quotes_gpc Off

# 3. Set max upload file size. Most hosts will limit this and not allow it to be overridden but you can try
# php_value upload_max_filesize 999M

# 4. set max post size. uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value post_max_size 999M

# 5. set max time script can take. uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value max_execution_time 200

# 6. set max time for input to be recieved. Uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value max_input_time 200

# 7. disable open_basedir limitations
# php_admin_value open_basedir none

### Display PHP errors
### Uncomment the commands by removing the # sign in front of it.
# php_flag display_startup_errors on
# php_flag display_errors on
# php_flag html_errors on
# php_flag track_errors on
# php_value error_reporting "E_ALL"
php_value display_errors 0
