@import "mixin";
*, *:after, *:before {
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 14px;
  font-family: "Gotham-Pro";
  font-weight: normal;
  z-index: 1;
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 0);
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

@import "header/header";
@import "main/main";
@import "main/vertical-slider";
@import "main/social";
@import "main/about_us";
@import "main/items_slider";
@import "main/news_slider";
@import "main/page";
@import "main/collections_slider";
@import "main/good";
@import "main/compare";
@import "main/collect";
@import "main/contacts";
@import "footer/footer";